# Stat 3255 
## Final Project Proposal
#### Garrck Ho

##### Introducton

The topic this project is going to be on is horse racing in Hong Kong. This idea piqued my interest because I when to one of these events over winter break. And going through the thought process of trying to figure out who will win the race was fascinating to me. And then a week later I watched a youtube video on how this one person created his own algorithm to predict the winner of each race. From the website, Kaggle, where I got my data, there are projects from people who have already done this idea. Even though it has been done already, I want to try to make my own model and see how accurate it can be.

#### Specific Aims

Using the given data, make a model to predict which horse is going to win the race. I had a very similar question when I was at this event. Because people make bets on which horse they think is going to win, I was think if there was a way to make a model to predict the winner each time. So after learning a little about data science and how to use data, I thought of this question.

#### Data description: Describe your data set (for instance: sampling scheme, number of observations, number of variables, variables of interest, nature of the variables) and the source of your data set if it is not collected by yourself. (histogram/charts... etc)

The data that is being used for this project came from Kaggle. Where someone else had already collected the data from the past years of horse racing in Hong Kong. The data that was collected is split into two datasets. One is called runs and the other is called races. Both datasets have 37 columns but runs have more rows than races. In the dataset, there are times in that are missing. For example, like sec_time7, a lot of them are missing because of the distance of the race. Some races are sprints, which are shorter and some are distance, which is longer. So depending on the distance of the race, those values will change. One value that is worth checking is the lengths_behind in the runs dataset. The minimum value is below zero which is questionable. Lengths_behind means the finishing position, as the number of horse lengths behind the winner. So how can a horse be negative lengths behind? Would that not just be the winner then? In both datasets, there are both categorical and numerical variables. Some of the categorical variables are date, venue, configuration, going, horse country, and horse breed. Variables that will be used in the model will be the horse ID, trainer ID, jockey ID, all of the times from the race, placements of the race and distance. The variable 'going' is the condition of the race track.

In [5]:
import pandas as pd
import numpy as np

In [17]:
runs = pd.read_csv("data/runs.csv")
races = pd.read_csv("data/races.csv")
pd.options.display.max_columns = None

In [22]:
runs.shape

(79447, 37)

In [23]:
races.shape

(6349, 37)

In [18]:
runs.describe()

,race_id,horse_no,horse_id,result,won,lengths_behind,horse_age,horse_rating,declared_weight,actual_weight,draw,position_sec1,position_sec2,position_sec3,position_sec4,position_sec5,position_sec6,behind_sec1,behind_sec2,behind_sec3,behind_sec4,behind_sec5,behind_sec6,time1,time2,time3,time4,time5,time6,finish_time,win_odds,place_odds,trainer_id,jockey_id
count,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,46226.000000,10079.000000,1296.000000,79447.000000,79447.000000,79447.000000,46226.000000,10079.000000,1296.000000,79447.000000,79447.000000,79447.000000,46226.000000,10079.000000,1296.000000,79447.000000,79447.000000,75712.000000,79447.000000,79447.000000
mean,3173.352814,6.905623,2204.410525,6.838597,0.080053,6.108901,3.339346,61.034904,1104.953568,122.729656,6.876005,6.849837,6.846791,6.843443,6.945550,6.748388,6.253086,3.378768,4.083972,4.509457,5.992076,6.026654,10.638735,21.135438,22.928985,23.864054,24.039662,24.105221,24.350216,85.322914,28.812977,7.423177,79.793007,85.832341
std,1833.101494,3.760711,1275.049375,3.730498,0.271378,33.636209,0.876763,11.748788,62.347597,6.305496,3.747589,3.734348,3.733014,3.732055,3.792138,3.702360,3.426108,4.282529,2.691107,16.541538,33.991084,31.754623,67.791252,6.930518,3.599727,3.571163,4.663367,1.127963,1.314755,18.512883,30.097375,8.823430,45.118874,54.338105
min,0.000000,1.000000,0.000000,1.000000,0.000000,-0.500000,2.000000,10.000000,693.000000,103.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.150000,0.150000,0.000000,0.000000,0.100000,0.000000,12.390000,19.990000,21.000000,21.200000,21.420000,21.500000,55.160000,1.000000,1.000000,0.000000,0.000000
25%,1586.000000,4.000000,1085.000000,4.000000,0.000000,1.750000,3.000000,60.000000,1062.000000,118.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,1.500000,1.750000,1.750000,1.750000,1.750000,1.750000,14.120000,22.290000,23.230000,23.320000,23.410000,23.570000,70.590000,7.700000,2.400000,47.000000,39.000000
50%,3174.000000,7.000000,2209.000000,7.000000,0.000000,4.000000,3.000000,60.000000,1102.000000,123.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,6.000000,3.000000,3.750000,3.750000,3.750000,3.750000,4.250000,24.180000,22.870000,23.760000,23.890000,23.960000,24.120000,83.350000,15.000000,4.100000,75.000000,76.000000
75%,4764.500000,10.000000,3308.000000,10.000000,0.000000,6.750000,3.000000,60.000000,1146.000000,128.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,5.000000,5.750000,5.750000,6.250000,6.500000,7.750000,25.360000,23.520000,24.410000,24.560000,24.630000,24.820000,100.780000,38.000000,8.600000,118.000000,138.000000
max,6348.000000,14.000000,4404.000000,14.000000,1.000000,999.000000,10.000000,138.000000,1369.000000,133.000000,15.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,999.000000,60.250000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,49.570000,34.150000,163.580000,99.000000,101.000000,175.000000,185.000000

In [19]:
races.describe()

,race_id,race_no,surface,distance,prize,race_class,sec_time1,sec_time2,sec_time3,sec_time4,sec_time5,sec_time6,sec_time7,time1,time2,time3,time4,time5,time6,time7,place_combination1,place_combination2,place_combination3,place_combination4,place_dividend1,place_dividend2,place_dividend3,place_dividend4,win_combination1,win_dividend1,win_combination2,win_dividend2
count,6349.000000,6349.000000,6349.000000,6349.000000,5.887000e+03,6349.000000,6349.000000,6349.000000,6349.000000,3634.000000,821.000000,115.000000,0.0,6349.000000,6349.000000,6349.000000,3634.000000,821.000000,115.000000,0.0,6349.00000,6349.000000,6324.000000,23.000000,6349.000000,6349.000000,6324.000000,23.000000,6349.000000,6349.000000,12.000000,12.000000
mean,3174.000000,5.226807,0.109151,1419.113246,1.134790e+06,3.893684,20.699466,22.826749,23.830743,23.852854,23.868685,23.912261,NaN,20.699466,43.526215,67.356959,91.735793,112.479695,140.349739,NaN,6.23862,6.366357,6.525933,8.434783,27.778469,32.802536,38.969292,22.013043,6.238620,96.096944,8.166667,101.416667
std,1832.942761,2.795019,0.311853,281.468745,1.749156e+06,1.992868,5.880319,1.044998,0.870355,0.820277,0.758860,0.667664,NaN,5.880319,6.657225,6.978638,7.814997,5.452576,4.910272,NaN,3.61858,3.662594,3.731685,2.982160,25.175925,30.275423,37.015938,16.757802,3.620321,131.221259,3.325749,101.672566
min,0.000000,1.000000,0.000000,1000.000000,4.850000e+05,0.000000,12.390000,20.060000,21.200000,21.400000,21.810000,21.770000,NaN,12.390000,33.110000,55.160000,80.430000,105.830000,132.840000,NaN,1.00000,1.000000,1.000000,4.000000,10.100000,10.100000,10.100000,10.100000,1.000000,10.500000,3.000000,12.000000
25%,1587.000000,3.000000,0.000000,1200.000000,6.750000e+05,3.000000,13.690000,22.140000,23.210000,23.300000,23.410000,23.550000,NaN,13.690000,35.950000,59.830000,83.410000,109.010000,137.290000,NaN,3.00000,3.000000,3.000000,6.500000,15.000000,17.000000,18.500000,10.100000,3.000000,34.500000,5.500000,25.250000
50%,3174.000000,5.000000,0.000000,1400.000000,8.400000e+05,4.000000,23.720000,22.800000,23.720000,23.770000,23.830000,24.020000,NaN,23.720000,46.410000,69.720000,94.300000,110.330000,138.360000,NaN,6.00000,6.000000,6.000000,8.000000,20.000000,24.000000,27.500000,15.500000,6.000000,58.500000,8.000000,50.250000
75%,4761.000000,7.000000,0.000000,1650.000000,1.060000e+06,4.000000,24.700000,23.450000,24.380000,24.330000,24.280000,24.295000,NaN,24.700000,48.070000,72.100000,100.030000,113.150000,140.205000,NaN,9.00000,9.000000,10.000000,11.000000,31.000000,36.500000,44.000000,24.750000,9.000000,105.500000,11.250000,178.625000
max,6348.000000,11.000000,1.000000,2400.000000,2.500000e+07,13.000000,30.030000,27.410000,27.580000,28.920000,26.500000,25.920000,NaN,30.030000,56.220000,81.290000,107.810000,134.310000,158.490000,NaN,14.00000,14.000000,14.000000,14.000000,410.500000,627.000000,420.500000,68.000000,14.000000,2687.500000,12.000000,282.500000

In [31]:
races.tail()

,race_id,date,venue,race_no,config,surface,distance,going,horse_ratings,prize,race_class,sec_time1,sec_time2,sec_time3,sec_time4,sec_time5,sec_time6,sec_time7,time1,time2,time3,time4,time5,time6,time7,place_combination1,place_combination2,place_combination3,place_combination4,place_dividend1,place_dividend2,place_dividend3,place_dividend4,win_combination1,win_dividend1,win_combination2,win_dividend2
6344,6344,2005-08-28,ST,6,A,0,1400,GOOD,115-95,2500000.0,1,13.65,23.10,24.60,21.78,NaN,NaN,NaN,13.65,36.75,61.35,83.13,NaN,NaN,NaN,6,7,5.0,NaN,13.5,14.5,62.5,NaN,6,38.0,NaN,NaN
6345,6345,2005-08-28,ST,7,A,0,1600,GOOD,G,23000000.0,11,24.48,22.54,23.01,23.45,NaN,NaN,NaN,24.48,47.02,70.03,93.48,NaN,NaN,NaN,5,6,14.0,NaN,18.0,20.5,45.0,NaN,5,60.0,NaN,NaN
6346,6346,2005-08-28,ST,8,A,0,2000,GOOD,G,25000000.0,11,26.79,23.31,23.24,23.46,24.15,NaN,NaN,26.79,50.10,73.34,96.80,120.95,NaN,NaN,2,8,5.0,NaN,11.0,27.5,38.5,NaN,2,17.5,NaN,NaN
6347,6347,2005-08-28,ST,9,A,0,1200,GOOD,100-80,1750000.0,2,23.65,22.54,22.97,NaN,NaN,NaN,NaN,23.65,46.19,69.16,NaN,NaN,NaN,NaN,9,6,4.0,NaN,11.0,37.0,21.5,NaN,9,16.0,NaN,NaN
6348,6348,2005-08-28,ST,10,A,0,1600,GOOD,100-80,1750000.0,2,25.46,24.06,23.73,22.71,NaN,NaN,NaN,25.46,49.52,73.25,95.96,NaN,NaN,NaN,2,4,8.0,NaN,38.0,63.0,18.5,NaN,2,134.0,NaN,NaN

In [24]:
runs.head()

,race_id,horse_no,horse_id,result,won,lengths_behind,horse_age,horse_country,horse_type,horse_rating,horse_gear,declared_weight,actual_weight,draw,position_sec1,position_sec2,position_sec3,position_sec4,position_sec5,position_sec6,behind_sec1,behind_sec2,behind_sec3,behind_sec4,behind_sec5,behind_sec6,time1,time2,time3,time4,time5,time6,finish_time,win_odds,place_odds,trainer_id,jockey_id
0,0,1,3917,10,0.0,8.00,3,AUS,Gelding,60,--,1020.0,133,7,6,4,6,10.0,NaN,NaN,2.00,2.00,1.50,8.00,NaN,NaN,13.85,21.59,23.86,24.62,NaN,NaN,83.92,9.7,3.7,118,2
1,0,2,2157,8,0.0,5.75,3,NZ,Gelding,60,--,980.0,133,12,12,13,13,8.0,NaN,NaN,6.50,9.00,5.00,5.75,NaN,NaN,14.57,21.99,23.30,23.70,NaN,NaN,83.56,16.0,4.9,164,57
2,0,3,858,7,0.0,4.75,3,NZ,Gelding,60,--,1082.0,132,8,3,2,2,7.0,NaN,NaN,1.00,1.00,0.75,4.75,NaN,NaN,13.69,21.59,23.90,24.22,NaN,NaN,83.40,3.5,1.5,137,18
3,0,4,1853,9,0.0,6.25,3,SAF,Gelding,60,--,1118.0,127,13,8,8,11,9.0,NaN,NaN,3.50,5.00,3.50,6.25,NaN,NaN,14.09,21.83,23.70,24.00,NaN,NaN,83.62,39.0,11.0,80,59
4,0,5,2796,6,0.0,3.75,3,GB,Gelding,60,--,972.0,131,14,13,12,12,6.0,NaN,NaN,7.75,8.75,4.25,3.75,NaN,NaN,14.77,21.75,23.22,23.50,NaN,NaN,83.24,50.0,14.0,9,154

#### Research design/methods/schedule

The first thing that is needed to be done is to merge the two datasets together. Then go through the data and clean it, so that is can be used in a model. Then figure out which variables are important by finding the correlations between them. Use cross-validation to see which model (liner regression, Decision Tree, Random Forest, Voting) would be the most accurate one to use. And then pick the strongest one and test it. Then compare the predicted results with the actual result and conclude what the results are.

#### Discussion / Conclusion

What is expected by the end of this project is to have a model that will be able to predict the winner of each race with good accuracy. With other projects that are already made, this final project and help improve on top of the past created projects. With this project being made, and approved upon on. People that have access to this can then use it in the real world with real-time data. This project is only being run on old data that was collected in past years. If the results are not what is expected, then going back and changing the parameters for the model to help fit the expected result may be needed. So overall, the project will be to create a model to predict the winner of the horse race. Which will require the process of data cleaning and picking the most appropriate model to use for this project. In the end, we should have a model that presents the predicted results with the actual results. And from there we can make a conclusion on how well the model is.